RewriteEngine On

# Enable access to actual files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite URLs like /login to /login.php
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]